<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="workingroom">
    <div class="loginDiv">
        <a href="/login" th:if="${session?.user}==null">登录</a>
        <span class="desc" th:if="${session?.user}!=null" th:text= "'你好,'+${session?.user}"></span>
        <a href="/doLogout" th:if="${session?.user}!=null" >退出</a><br>

        <a href=" listProduct">查看产品</a><span class="desc">(要有查看产品权限)</span><br>
        <a href="deleteProduct">删除产品</a><span class="desc">(要有删除产品权限)</span><br>
        <a href="deleteOrder">删除订单</a><span class="desc">(要有删除订单权限)</span><br>
    </div>
</body>
</html>